/*setup*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    
}


:root{
    --bg-gradient:linear-gradient(45deg, #574AE8 0%, #3EA1DB 100%);
    --bg-search:rgba(255, 255, 255, 0.20);
    --bg-main:#F3F5F7;
    --bg-card:#FFF;
    --color-header:#FFF;
    --color-p:#717171;
    --color-title:#1A202C;
    --color-heart:#574AE8;
}

body{
    background-color:var(--bg-main);
}
header{
    background-image:linear-gradient(45deg, #574AE8 0%, #3EA1DB 100%);
    
    padding-bottom:48px;
}

.flex{
    display: flex;
    justify-content: space-between;
    
}

header div{
    padding:48px 20px 41px 20px;
    color:var(--color-header);
    font-size: 18px;
}


h2{
    color:var(--color-title);
    font-size: 18px;
}

::placeholder{
    color:var(--color-header);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

#search{
    background-image: url("img/Magnet.svg");
    background-position:left;
    background-repeat: no-repeat;
    text-indent: 20px;
    background-color:var(--bg-search);
    border-radius: 5px;
    padding-top:12px;
    padding-bottom:11px;
    width:92%;
    border:none;
    margin-left:20px;
    
    
}


.cards{
    flex-direction: column;
    padding-top:50px;
    gap:25px;
}
.card{
    background-color: var(--bg-card);
    margin:0 20px;
    padding:16px 12px 15px 17px;
}

p{
    color:var(--color-p);
    font-size: 14px; 
}

.card:last-child{
    margin-bottom:50px;
}

@media screen and (min-width: 940px){
    #search,
    header div,
    .card{
        width:900px;
        display: block;
        margin:0 auto;
    }
    header div{
        padding:48px 0px 41px 0px;
    }
}
